body{
    background-color: black;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    text-align: center;
    font-size: 400%;
}

a{
    color: white;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom: 2%;
    

}

div{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10px;
   
    
    text-align: center;
}

footer {
    
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    
}

@media (max-width: 768px) {

    h1{
        font-size: 30px;
        padding: 4%;
    }
a{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}



}


@keyframes colorTransition {
    0% {
        color: rgb(76, 224, 76);
    }
    100% {
        color: rgb(243, 13, 13);
    }
}

 a {
    display: inline-block;
    animation: colorTransition 2s infinite alternate; /* Adjust duration and animation behavior */
}